.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

div {
  padding: 15px;
}

mat-card{
  padding: 5px;
  margin: 0% auto;
  max-width: 550px;
  min-width: 550px;
}
